---
import Button from "../components/Button.astro";
import Carousel from "../components/Carousel.astro";
import SectionContainer from "../components/containers/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import { getSpanishLabel } from "../i18n/utils";
import MainLayout from "../layouts/MainLayout.astro";

const slides = [
  {
    img: "https://placehold.co/800x500/4F46E5/ffffff?text=Slide+1",
    tag: "Nuevo",
    title: "Producto Premium",
    description: "Descripción breve",
    price: "$299",
  },
  {
    img: "https://placehold.co/800x500/0F6E56/ffffff?text=Slide+2",
    tag: "Oferta",
    title: "Artículo Especial",
    description: "Descripción breve",
    price: "$149",
  },
  {
    img: "https://placehold.co/800x500/993C1D/ffffff?text=Slide+3",
    tag: "Popular",
    title: "Colección Exclusiva",
    description: "Descripción breve",
    price: "$499",
  },
];
---

<MainLayout
  metaTitle={getSpanishLabel("meta.title")}
  metaDescription={getSpanishLabel("meta.description")}
>
  <Hero />
  <div class="h-full bg-linear-to-t from-third to-primary">
    <SectionContainer id="intro-section">
      <h2 class="text-4xl">Where your ideas <br /> come to life</h2>
      <p>
        At Mar de Media, We bring your vision to life through digital
        experiences taht deliver results
      </p>
    </SectionContainer>

    <SectionContainer id="services-section">
      <h2 class="text-3xl">
        Experience <em class="text-secondary">Mar de Media</em> the <br /> way It's
        mean to be
      </h2>
    </SectionContainer>
    <Carousel slides={slides} />
    <Button
      text="Dive In"
      className="w-1/2 m-auto mt-2"
      as="a"
      href="#contact-section"
    />

    <SectionContainer id="packages-section">
      <h2 class="text-3xl">
        Take your brand to the <span class="text-secondary">next level</span>
      </h2>
      <p>See our packages and choose your next step</p>
    </SectionContainer>
    <Carousel slides={slides} className="mb-4" />

    <section class="relative" id="contact-section">
      <img src="/contact.webp" alt="" class="w-full aspect-square opacity-30" />
      <div
        class="absolute inset-0 p-2 flex flex-col justify-center items-center gap-4"
      >
        <h2 class="text-5xl">
          Your journey to <span class="text-secondary"
            >something extraordinary</span
          > starts here.
        </h2>
        <Button text="Begin the Voyage" className="w-1/2" />
      </div>
    </section>
  </div>
</MainLayout>
