---
import { getRelativeLocaleUrl } from "astro:i18n";
import { DEFAULT_LANGUAGE } from "../i18n/utils";
import IsotypeAnchor from "./IsotypeAnchor.astro";
import CrossButton from "./CrossButton.astro";

const homeUrl = getRelativeLocaleUrl(Astro.currentLocale ?? DEFAULT_LANGUAGE);
---

<aside id="aside-menu" class="fixed inset-0 z-20 pointer-events-none">
  <div
    id="aside-panel"
    class="absolute inset-0 bg-[#DEF3F4]"
    style="transform: translateX(100%); opacity: 0;"
  >
    <header class="flex justify-between p-5 text-black">
      <IsotypeAnchor homeUrl={homeUrl} />
      <CrossButton />
    </header>
    <nav class="h-full bg-red-200"></nav>
  </div>
</aside>

<script>
  import { $ } from "../utils/dom";

  const $asideMenu = $<HTMLElement>("#aside-menu")!;
  const $panel = $("#aside-panel")!;
  const $closeButton = $("#close-button")!;

  let isOpen = false;

  const openMenu = () => {
    $asideMenu.style.pointerEvents = "auto";

    $panel.animate(
      [
        {
          transform: "translateX(100%)",
          opacity: 0,
          filter: "blur(6px)",
        },
        {
          transform: "translateX(0%)",
          opacity: 1,
          filter: "blur(0px)",
        },
      ],
      {
        duration: 350,
        easing: "cubic-bezier(0.22, 1, 0.36, 1)",
        fill: "forwards",
      },
    );

    isOpen = true;
  };

  const closeMenu = () => {
    $panel.animate(
      [
        {
          transform: "translateX(0%)",
          opacity: 1,
          filter: "blur(0px)",
        },
        {
          transform: "translateX(100%)",
          opacity: 0,
          filter: "blur(6px)",
        },
      ],
      {
        duration: 300,
        easing: "cubic-bezier(0.4, 0, 1, 1)",
        fill: "forwards",
      },
    );

    setTimeout(() => {
      $asideMenu.style.pointerEvents = "none";
    }, 300);

    isOpen = false;
  };

  const toggleMenu = () => {
    isOpen ? closeMenu() : openMenu();
  };

  window.addEventListener("aside-toggle", toggleMenu);

  $closeButton?.addEventListener("click", closeMenu);
</script>
