---
interface Props {
  slides: {
    img: string;
    title: string;
  }[];
  className?: string;
}
const { slides, className } = Astro.props;
---

<div class={`swiper mySwiper w-full pb-8 ${className}`}>
  <div class="swiper-wrapper">
    {
      slides.map((slide) => (
        <div class="swiper-slide">
          <img
            src={slide.img}
            alt={slide.title}
            class="w-full h-64 object-cover block"
          />
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<style is:global>
  @import "swiper/css";
  @import "swiper/css/pagination";

  /* Tailwind resetea display:flex del wrapper, esto lo corrige */
  .mySwiper .swiper-wrapper {
    display: flex;
  }

  .mySwiper .swiper-slide {
    width: 100%;
    flex-shrink: 0;
    min-width: 0;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";

  new Swiper(".mySwiper", {
    modules: [Pagination],
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
