---
import Waves from "./Waves.astro";
---

<section
  class="flex flex-col justify-between items-center min-h-[55vh] bg-[#DEF3F4]"
>
  <div class="text-center flex flex-col justify-center gap-5 text-third flex-1">
    <h1 class="font-primary text-4xl">Turn your ideas into reality</h1>
    <a href="#" class="underline">Start your project -></a>
  </div>

  <!-- <Waves /> -->
</section>
